language: java
jdk: oraclejdk7
env:
  matrix:
  - ANDROID_SDKS=android-19,addon-google_apis-google-19,sysimg-19            ANDROID_TARGET=android-19   ANDROID_ABI=armeabi-v7a  ANDROID_API_LVL=19
  - ANDROID_SDKS=android-18,sysimg-18            ANDROID_TARGET=android-18   ANDROID_ABI=armeabi-v7a  ANDROID_API_LVL=18
  - ANDROID_SDKS=android-16,sysimg-16            ANDROID_TARGET=android-16  ANDROID_ABI=armeabi-v7a
    ANDROID_API_LVL=16
  - ANDROID_SDKS=android-17,sysimg-17 ANDROID_TARGET=android-17  ANDROID_ABI=armeabi-v7a
    ANDROID_API_LVL=17
  - ANDROID_SDKS=android-15,sysimg-15           ANDROID_TARGET=android-15  ANDROID_ABI=armeabi-v7a     ANDROID_API_LVL=15
  - ANDROID_SDKS=android-14,sysimg-14           ANDROID_TARGET=android-14  ANDROID_ABI=armeabi-v7a     ANDROID_API_LVL=14
  - ANDROID_SDKS=android-13           ANDROID_TARGET=android-13  ANDROID_ABI=armeabi-v7a     ANDROID_API_LVL=13
  - ANDROID_SDKS=android-12           ANDROID_TARGET=android-12  ANDROID_ABI=armeabi-v7a     ANDROID_API_LVL=12
  - ANDROID_SDKS=android-11           ANDROID_TARGET=android-11  ANDROID_ABI=armeabi-v7a     ANDROID_API_LVL=11
  - ANDROID_SDKS=android-10,sysimg-10           ANDROID_TARGET=android-10  ANDROID_ABI=armeabi     ANDROID_API_LVL=10
  - ANDROID_SDKS=android-9           ANDROID_TARGET=android-9  ANDROID_ABI=armeabi     ANDROID_API_LVL=9
  - ANDROID_SDKS=android-8           ANDROID_TARGET=android-8  ANDROID_ABI=armeabi     ANDROID_API_LVL=8
  global:
    secure: K++kzFt1/W7LDSLQnW3IgVhP8gp8T79Ezjq9VL5ELnJw3n+R1UHBpT8iWHNZglUpZbPIDGLG+c1P5lbX0FLnJ2Ctvplm4uRtxysmUYK1mtYp/3poXgAaS99oQPZu1AcXJoXEtNhZiUz5hJQgMN+iQwXJbqfP2Fo97IhDY8TLn5Y=
matrix:
  fast_finish: true
  allow_failures:
  - env: ANDROID_SDKS=android-8           ANDROID_TARGET=android-8  ANDROID_ABI=armeabi     ANDROID_API_LVL=8
  - env: ANDROID_SDKS=android-9           ANDROID_TARGET=android-9  ANDROID_ABI=armeabi     ANDROID_API_LVL=9
  - env: ANDROID_SDKS=android-10,sysimg-10           ANDROID_TARGET=android-10  ANDROID_ABI=armeabi     ANDROID_API_LVL=10
  - env: ANDROID_SDKS=android-11           ANDROID_TARGET=android-11  ANDROID_ABI=armeabi-v7a     ANDROID_API_LVL=11
  - env: ANDROID_SDKS=android-12           ANDROID_TARGET=android-12  ANDROID_ABI=armeabi-v7a     ANDROID_API_LVL=12
  - env: ANDROID_SDKS=android-13           ANDROID_TARGET=android-13  ANDROID_ABI=armeabi-v7a     ANDROID_API_LVL=13
before_install:
- wget http://dl.google.com/android/android-sdk_r22.3-linux.tgz
- tar -zxf android-sdk_r22.3-linux.tgz
- export ANDROID_HOME=`pwd`/android-sdk-linux
- export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools
- sudo apt-get update -qq
- sudo apt-get install -qq libstdc++6:i386 libgcc1:i386 zlib1g:i386 libncurses5:i386
- echo "y"| android update sdk --filter 1,2 --no-ui --force
- echo "y"| android update sdk --filter build-tools-19.0.1,$ANDROID_SDKS  --no-ui
  --force
- echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
- emulator -avd test -no-skin -no-audio -no-window &
before_script:
- "./wait_for_emulator"

script: mvn install -Pintegration-tests -Dandroid.device=test

after_script:
- "./update_results"

branches:
  except:
    - results
